# --- For-Bot-Working --------- #
#pyrogram
https://github.com/pyrogram/pyrogram/archive/master.zip
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
