# --- For-Bot-Working --------- #
#pyrogram
git+https://github.com/5hojib/pyrogram.git
TgCrypto
pyromod
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
